* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
@font-face {
    font-family:montserrat-b;
    src: url(fonts/Montserrat-ExtraBold.ttf);
}
@font-face {
    font-family:montserrat-sb;
    src: url(fonts/Montserrat-SemiBold.ttf);
}
@font-face {
    font-family:montserrat-l;
    src: url(fonts/Montserrat-Light.ttf);
}
article {
	width: 100%;
	margin: auto;
	position: relative;
}
section {
	width: 100%;
}
#company,#business,#headline,#logo {
	width: 100%;
	padding-left:45%;
}
#business,#headline,#logo {
	padding-right: 9%;
}
section#company {
	height: 27.3vw;
	background-color: rgb(255,255,255);
	padding-top: 10.25vw;
}
#company div {
	/*display: inline-block;*/
	float: right;
	height: 9vw;
}

#company div p {
	color: #f5d445;
	font-family: montserrat-b;
	font-size: 2.7vw;
	text-transform: uppercase;
	text-align: right;	
	line-height: 4.2vw;
	font-weight: bold;
	/*margin-top: 20px;	*/
}
#company div#box {
	width: 18%;
	background-color: #f8d749;
	margin-left: 20px;
}
section#business {
	height: 44.7vw;
	background-color: #24242a;
	text-align: right;
	position: relative;
	padding-top: 6.6vw;
	/*margin-top: 90px;*/
}
#business hr {
	width: 33%;
	height: 2vw;
	background-color: #c1bab5;
	position: absolute;
	top: 0;
	right: 0;
}
#business .p1 {
	font-family: montserrat;
	font-size: 3.6vw;
	color: white;

}
#business .p2 {
	font-family: montserrat-b;
	font-size: 6.6vw;
	color: #f5d445;
}
 .p3 {
	font-family: montserrat;
	font-size: 1.4vw;
	color: white;
	margin-top: 1.8vw;
	direction:rtl;
	text-align: justify;

}
.p4 {
	font-family: montserrat-b;
	font-size: 6.6vw;
	color: white;
	clear: both;
}
section#headline {
	height: 62vw;
	background-image: url('../images/background.jpg');
	background-size: cover;
	text-align: right;
	padding-top: 5vw;
	/*background-blend-mode: soft-light;*/
	z-index: 2;
	position: relative;

}

#headline #rectangle {
	width: 3%;
	height: 5.4vw;
	background-color: white;
	float: right;
	margin: 3vw 0;
}
#layout {
	width: 64.5% ;
	height: 62vw;
	position: absolute;
	bottom: 0;
	right: 0;
	background-color: rgba(81,179,227,0.5);
	z-index: -1;
}
.black {
	color: black;
}
section#logo {
	height: 18vw;
	background-color: #406375;
	padding-top: 6vw;
}
#logo span {
	width: 6vw;
	margin-right: 11%;
}
#logo span img {
	width: 6vw;
	/*vw vs %*/
	vertical-align: middle;
	
}
#logo span:last-child {
	margin-right: 0;
}
#logo>span:first-child img{
	width: 11vw;
	/*display: none;*/
}
#panel {
	width: 35.5%;
	height: 152vw;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 3;
}
#panel-text {
	width: 80%;
	margin-left: 20%;
	height: 70%;
	color: white;
	background-color: rgba(245,207,0,0.8);
}
#panel-text #company-panel {
	height: 27.3vw;
	padding: 7vw 15%;
}
#panel-text #company-panel p:first-child {
	font-size: 7.5vw;
	font-family: montserrat-b;
}
#panel-text #company-panel p:last-child {
	font-size: 2.2vw;
	font-family: montserrat-l;
	font-weight: lighter;
}
#panel-text #business-panel {
	height: 44.7vw;
	padding: 22vw 15%;
}
#business-panel hr {
	width: 35%;
	height: 2vw;
	margin-bottom: 3vw;
	background-color: white;
}
#business-panel p {
	font-size: 1.4vw;
	font-family: montserrat;
}
#panel-text #headline-panel {
	padding: 9vw 15%;
}
#headline-panel hr {
	width: 35%;
	height: 2vw;
	margin-bottom: 3vw;
	background-color: white;
}
#headline-panel p {
	font-size: 2.5vw;
	font-family: montserrat-sb;
}
#panel #contact {
	height: 30%;
	width: 100%;
	padding-left: 20%;
	padding-top: 10vw;
	background-color: #24242a;
	color: white;
}

#contact p {
	color: #d9b807;
	font-size: 1.7vw;
	font-family: montserrat;
}
.row-contact {
	clear: both;
	margin-bottom: 4vw;
	display: table;
}

.icon-contact {
	margin-right: 3vw;
	height: 2.7vw;
	float: left;
	display: table;
}

.icon-contact img {
	/*height: 100%;*/
	width: 3vw;
}
.info-contact {
	float: left;
	/*height: 2.7vw;*/
	vertical-align: middle;
	font-size: 1.5vw;
	font-family: montserrat;
}
.fix {
	line-height: 3.7vw;
}


